<form class="form-signin" action="/new" method="POST">
  <div class="form-label-group">
    <input
      type="text"
      id="inputUsername"
      class="form-control"
      placeholder="Username"
      required
      autofocus
      name="username"
    />
    <label for="inputUsername">Usuario</label>
  </div>
  <div class="form-label-group">
    <input
      name="name"
      type="text"
      id="inputName"
      class="form-control"
      placeholder="Name"
      required
      autofocus
    />
    <label for="inputName">Nombre</label>
  </div>
  <div class="form-label-group">
    <input
      name="lastname"
      type="text"
      id="inputLastname"
      class="form-control"
      placeholder="Lastname"
      required
      autofocus
    />
    <label for="inputLastname">Apellido</label>
  </div>
  <div class="form-label-group">
    <input
      name="email"
      type="email"
      id="inputEmail"
      class="form-control"
      placeholder="Email address"
      required
      autofocus
    />
    <label for="inputEmail">Email</label>
  </div>
  <button class="btn btn-primary btn-block" type="submit">
    Crear nuevo usuario
  </button>
</form>
