@import url("https://fonts.googleapis.com/css2?family=Orbit&display=swap");

body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  color: white;
}

.logoPrincipal {
  width: 90%;
  max-width: 40rem;
}

.contenedor {
  min-height: 100vh; /*importante*/
  position: relative; /*importante*/
}

.padd-mitha {
  text-align: center;
  min-height: 100vh;
}

.padd-mitha-2 {
  text-align: center;
  min-height: 80vh;
}

.special {
  text-align: right;
}

.padd-mitha > div {
  padding-left: 5%;
  padding-right: 5%;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.navbar-collapse {
  flex-direction: row-reverse;
}

.nav-item {
  margin: auto 0;
  font-size: 1.5rem;
}

.nav-link {
  text-align: right;
}

ion-icon {
  margin-top: 10px;
  font-size: 1.8rem;
}

.content {
  background-image: url("../images/bg.webp");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 50px 0;
}

.bg-mitha {
  background-color: #212121;
}

.img-col {
  width: 100%;
  max-width: 600px;
}

.img-bord {
  border-radius: 20px;
  border-style: solid;
  padding: 10px;
  border-color: white;
  background-color: black;
}

.border-top-green {
  border-top-style: solid;
  border-color: #159c21;
  border-width: 5px;
  padding-top: 5%;
}

footer {
  border-top-style: solid;
  border-color: #e89d39;
  border-width: 5px;
  margin-top: 100px;
}

.green {
  color: #159c21;
}

.blue {
  color: #00b3ff;
}

.orange {
  color: #ffb300;
}

.h1-upper {
  font-size: 6rem;
}

footer {
  background-color: black;
  font-family: "Orbit", sans-serif;
  width: 100%;
  color: white;
  clear: both;
}

.content h1,
.content h2,
.content h3,
.content h4 {
  color: white;
}

.mt-10 {
  margin-top: 4rem;
}

.content h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

.content h3 {
  margin-top: 30px;
  font-size: 2rem;
}
.content h2,
.content h3,
.content h4 {
  font-weight: 300;
}

p {
  font-size: 1.3rem;
}

.btnM {
  display: block;
  margin: 4rem auto;
  font-size: xx-large;
  border-radius: 10px;
  padding: 10px 40px;
}

.alert-mitha {
  margin: auto;
  max-width: 30rem;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: 0.75rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

tbody {
  color: #111111;
  background-color: rgb(237, 237, 237);
}
